.navbar {
  display: flex;
  margin-top: 15px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}
.navbar_img {
  margin-left: 20px;
}
.logo {
  padding-top: 7px;
  height: 30px;
}
.navbar_middle {
  display: flex;
  align-items: flex-start;
  margin-left: 40px !important;
  margin-right: 10rem !important;
  margin-top: 0;
  padding-top: 0;
}
.navbar_middle > p {
  padding-right: 13px;
}
.navbar_right {
  display: flex;
  align-items: center;
  margin-left: 40rem;
  margin-right: 20px;
}
.navbar_right > p {
  padding: 0px 13px;
}
.navbar_notification {
  padding-right: 13px;
}
